<!-- This is a comment -->
{% extends 'list_app/main.html' %}

{% block content %}

<table>
    <tr>
        <th>
            Items
        </th>
    </tr>
    {% for task in lists %}
    <tr>
        <td>{{task.list_title}}</td>
<td>  SeeLists status: {{task.list_state}}</td>

        <td><a href="{% url 'list' task.id %}"> View </a></td>
        <td><a href="{% url 'list-update' task.id %}"> Modify </a></td>
        <td><a href="{% url 'delete-list' task.id %}"> Delete list </a></td>
    </tr>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</table>

<td><a href="{% url 'view_all' %}"> Go back </a></td>

{% endblock content %}